/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background: #4070f4;
  padding: 13px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 20px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: #4070f4;
}

nav.sticky .menu a {
  color: #FFF;
}

nav.sticky .menu a:hover {
  color: #0E2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: #4070f4;
}

nav.sticky .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: #fff;
}

/* home section styling */
.home {
  height: 100vh;
  width: 100%;
  background: url("Images/sobg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #0E2431;
}

.home .text-two {
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.home .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}


.skills {
  background: #F0F8FF;
}

.skills .content {
   padding: 50px ; 
}

.skills .title{
  
  font-size: 26px;
  font-weight: 200;
  margin-top: 50px;
  margin-left: 25px;
  color: blueviolet;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-details .text {
  width: 50%;
  
}

.skills-details p {
  color: #0E2431;
  text-align: justify;
  margin-left: 25px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .boxes .topic {
  font-size: 25px;
  color: tomato;
  font-weight: 450;
}

.skills-details .boxes .per {
  font-size: 60px;
  color: purple;
}

/* My Services CSS */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

footer {
  background: rgb(75, 159, 170);
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #FFF;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #3253b0;
  padding: 7px 12px;

  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }

  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 15px 0;
  }

  nav.sticky .menu a:hover {
    color: #4070f4;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }

  .home .text-two {
    font-size: 65px;
  }

  .home .text-three {
    font-size: 35px;
  }

  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }

  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }

  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }

  .home .text-three {
    font-size: 33px;
  }

  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }
}
